@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Cormorant+Garamond:wght@300&family=Indie+Flower&family=Kanit:wght@200&family=Montserrat:wght@200&family=Noto+Serif&family=Oswald:wght@300&family=Shadows+Into+Light&display=swap');

body {
  background-color: #fff
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(img/header.png);
  background-size: cover;
  background-position: center center;
}


/* ====================================
Navigation 
==================================== */
:root {
  --primary: #567878;
  --light: #8ec89e;
  --dark: #aed5c196;
}

*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium';
}  

.container {
  max-width:1280px ;
  margin: 0 auto;

  display: flex ;
  align-items: center;
  justify-content: space-between;
}


nav{
 position:absolute;
 top: 0;
 left: 0;
 right: 0;
 z-index: 99;
 background: linear-gradient(60deg, #77c0c7 0%, rgba(157, 232, 195, 0.682) 100%) rgb(113, 168, 153) 50%;
 padding: 6px 32px;
 border-bottom: 3px solid var(--primary);

 position: fixed;

 width: 100%;  /* El menú ocupa todo el ancho de la ventana */
 top: 0;  /* Ancla el menú en la parte superior */
 
}

h1{
  color: #EEEEEE;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
 

}

.hamburguer {
  display:block;
  position: relative;
  z-index: 1;

  user-select: none;


  position: fixed;
  top: 0;  /* Ancla el menú en la parte superior */
  left: 90%;
  width: 100%;  /* El menú ocupa todo el ancho de la ventana */
  
  z-index: 1000;  /* Establece una alta superposición para el menú */



  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburguer span {
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 
background-color: var(--light);
border-radius: 6px;
z-index: 1;

transform-origin: 0 0;

transition: 0.4s;
}

.hamburguer:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);
}

.hamburguer.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}


.hamburguer.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}


.hamburguer.is-active span:nth-child(3){
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburguer.is-active:hover span {
  background-color: var(--primary);
}


.menu{
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;

  position: fixed;

  width: 100%;  /* El menú ocupa todo el ancho de la ventana */
  top: 0;  /* Ancla el menú en la parte superior */
 


}

.menu a {
  color: #EEEEEE;
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
  background-color: var(--primary);
}


@media (min-width: 768px) {
  .hamburguer {
      display: none;
  }

  .menu {
      display: flex ;
  }
}



/* dark mode */

.dark-mode-button{
position: absolute;
top: 20px;
padding: 10px;
left: -10px;
margin: 50px;
font-size: 30px;
}

html.dark-mode{
filter: invert(100%);
}

html.dark-mode img {
filter: invert(100%);
}


/* ====================================
Animation keyframes
==================================== */

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}

.home a {
  font-family: "Work Sans", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

@media (max-width: 640px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li {
    height: 20%;
  }
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }
  nav li a:hover:after {
    transform: translateY(0);
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 25px;
  }
}


/*final header y nav*/



/* parte de los caudr*/

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  display: grid;
  place-items: center;
  font-family: "League Spartan", system-ui, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  background-color: #abdeee5c;
  color: #100f0f;
}

ul {
  list-style: none;
}

.main {
  max-width: 75rem;
  padding: 3em 1.5em;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #141415;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #0a0a0a;
  background-color: #b4d7aa;
  border: 1px solid #abf5d633;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #5b8369;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  /*background: hsla(var(--hsl), 0.1);*/
  background: #c2ebcf;
}

/*footer*/
footer {
  width: 100%;
  height: 200px;
  background-color: #8ec89e;;
  color: #dde4eb;
  margin-top: 40px;
}

footer p{
text-align: center;
padding: 60px;
color: #ffffff;
background-color: #5a7f65;;
}




